{{ define "main" }}
<section>
  <article>
    <h1>{{ .Title }}</h1>
    {{ with .Resources.ByType "image" }}
      {{ range first 1 . }}
        {{ $image := .Resize "300x q75" }}
        <img alt="{{ $image.Title }}" src="{{ $image.RelPermalink }}">
      {{ end }}
    {{ end }} 
    {{ with .Resources.ByType "page" }}
    <ul>
      {{ range . }}
      {{ .Render "li"}}
      {{ end }}
    {{ end }} 
    </ul>
    {{ .Content }}
  </article>
  <aside>
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
  </aside>
</section>
{{ end }}