@import url('https://fonts.googleapis.com/css?family=Croissant+One|Overpass');

@import 'breaks';
@import 'grid';

/* {{ $banner := resources.Get "/img/banner.jpg" }} */
$banner: url({{ $banner.Permalink }});

$color-1: #14bc0b;
$color-2: #2f70ee;
$color-3: #ff9301;
$color-4: #914299;

html {
    --oven-green: #14bc0b;
    --oven-blue: #2f70ee;
    --oven-orange: #ff9301;
    --oven-purple: #914299;
}

body { 
    font-size: 1.2em;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    // display: flex;
    // flex: 0 0 auto;
    position: relative;
    background-color: $color-1;
    // background-image: $banner;
    background-size: cover;
    background-position-y: 25%;
    text-align: center;
}

header .logo {
    // flex: 1 1 auto;
    max-height: 80px;
    margin-right: 1em;
    @include breakpt(xs) {
        // flex: 0 1 auto;
    }
}

header h1 {
    // flex: 1 1 auto;
    font-size: 40px;
    line-height: 80px;
    color: #FFF;
    margin: 0;
    @include breakpt(xs) {
        // flex: 1 0 auto;
    }
}

h1 {
    font-family: 'Croissant One', cursive, sans-serif;
}

.content {
    @include grid-base;
    flex: 1 0 auto;
    position: relative;
}

nav {
    @include grid-span-1;
    padding-left: 1em;
    background: $color-3;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul ul {
    padding-left: 1em;
}

.content section {
    @include sub-grid-base;
    @include grid-span-middle;
}

.content section h1 {
    @include sub-grid-full;
}

.content section img {
    float: right;
    width: 50%;
    margin-left: 1em;
}

.details {
    @include grid-span-1;
    background: $color-2;
}

.detail strong { font-size: 1.2em; font-weight: 800; text-align: center; border-bottom: 1px solid black; margin-left: 1em;}
.detail ul { list-style: none; padding-left: 1em;}


footer {
    flex: 0 0 auto;
    text-align: center;
}

