<nav>
    <ul>
        {{ range $.Site.Pages.ByParam "rank" }}
            {{ if in .Params.categories "page" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        {{ end }}
        <li>Catalog
            <ul>
            {{ range $.Site.Pages.ByParam "rank" }}
                {{ if in .Params.categories "catalog" }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
            </ul>
        </li>
        <li><em>Coming soon</em>
            <ul>
                <li>Croissants</li>
                <li>Breads</li>
                <li>More...</li>
            </ul>
        </li>
    </ul>
    
    
</nav>